<clickhouse>
    <storage_configuration>
        <disks>
            <disk_s3>
                <type>s3</type>
                <endpoint>http://minio:9000/clickhouse-data/data/</endpoint>
                <access_key_id>minioadmin</access_key_id>
                <secret_access_key>minioadmin123</secret_access_key>
                <metadata_path>/var/lib/clickhouse/disks/disk_s3/</metadata_path>
                <cache_enabled>true</cache_enabled>
            </disk_s3>
        </disks>
        <policies>
            <s3_policy>
                <volumes>
                    <main>
                        <disk>disk_s3</disk>
                    </main>
                </volumes>
            </s3_policy>
        </policies>
    </storage_configuration>

    <query_log>
        <database>system</database>
        <table>query_log</table>
        <flush_interval_milliseconds>1000</flush_interval_milliseconds>
        <ttl>event_date + INTERVAL 7 DAY</ttl>
    </query_log>
    <query_thread_log>
        <database>system</database>
        <table>query_thread_log</table>
        <flush_interval_milliseconds>1000</flush_interval_milliseconds>
        <ttl>event_date + INTERVAL 3 DAY</ttl>
    </query_thread_log>
    <query_metric_log>
        <database>system</database>
        <table>query_metric_log</table>
        <flush_interval_milliseconds>1000</flush_interval_milliseconds>
        <collect_interval_milliseconds>100</collect_interval_milliseconds>
        <ttl>event_date + INTERVAL 3 DAY</ttl>
    </query_metric_log>
    <query_views_log>
        <database>system</database>
        <table>query_views_log</table>
        <flush_interval_milliseconds>1000</flush_interval_milliseconds>
        <ttl>event_date + INTERVAL 3 DAY</ttl>
    </query_views_log>
    <trace_log>
        <database>system</database>
        <table>trace_log</table>
        <flush_interval_milliseconds>1000</flush_interval_milliseconds>
        <ttl>event_date + INTERVAL 3 DAY</ttl>
    </trace_log>
    <part_log>
        <database>system</database>
        <table>part_log</table>
        <flush_interval_milliseconds>1000</flush_interval_milliseconds>
        <ttl>event_date + INTERVAL 3 DAY</ttl>
    </part_log>
</clickhouse>
